.formTell{
    width: 379px;
    height: 284px;
    background-color: white;
}
.formTell-title{
    margin: 30px 0 35px 40px;
    color: #3b3b3b;
    font-size: 24px;
    font-family: "Roboto Bold";
}
.formTell-form{
    margin-left: 40px;
}
.formTell-label{
    color: #3b3b3b;
    font-size: 14px;
    font-family: "Roboto Regular";
}
.formTell-form input{
    width: 299px;
    height: 40px;
    margin-top: 15px;
    margin-bottom: 32px;
    border: 1px solid #9c9c9c;
    cursor: pointer;
    outline: #818181;
}
.formTell-form input::placeholder{
    color: #9c9c9c;
    padding-left: 15px;
}
.formTell-form button{
    margin-left: 51px;
    width: 210px;
    height: 50px;
    color: white;
    background-color: #717381;
    border-style: none;
    outline: none;
}
